.ovalParentOverlay.reg{
    background:none;
    width:100%;
    height:100%;
    overflow:hidden;
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
}

.ovalOverlay.reg {
  position: absolute;
    width: 20%;
    height: 7%;
    margin:0px 0 0 0px;
    background: black;
    opacity: .2;
    border-color: green;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 20px;
}

.moneyInOval.reg {
  position: absolute;
  width: 50%;
  margin: 0 auto;
  opacity: 1;
  padding-left: 3px;
  padding-top: 3px;
  color: white;
  z-index: 10;

}
.thumbnail {
  max-height: 350px;
}

.customCard {
  width: 100%;
  overflow: hidden;
}

.imgContainer {
  max-height: 170px;
  max-width: 100%;
  overflow: hidden;
}


.thumbnail {
  overflow: hidden;
}


.thumbnail-info {
}

.thumbnail-credits {
  display: inline-block;
  float:left;
}

.thumbnail-readicon {
  display: inline-block;
  float:right;
}

.blurb {
  max-height: 50em;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
