.infoContainer {
  padding-top: 10px;
  vertical-align: middle;
  height: 50px;
  display: inline-flex;
}

.icon {
    padding-left: 10px;
    margin: auto 5px;
    max-width: 50px;
}

.ovalViewOverlay {
    width: 70px;
    height: 70%;
    background: darkgray;
    border-color: green;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 20px;
    align-content: center;
    margin: auto 5px;
}

.moneyInOvalView {
  width: 50%;
  margin: 0 auto;
  padding-left: 11%;
  padding-top: 6.2%;
  color: white;
}

.centered {
  padding-left: 10px;
  margin: auto 5px;
}

.share {
  float: right;
  display: inline-flex;
  margin: auto 5px;
  margin-top: 10px;
}
.articleList h4{
  padding-bottom: 10px;
}
.activePoints h2{
  text-decoration: underline;
  text-decoration-color: gray;
}
.infoBox {
  padding-bottom: 50px;
  font-family: georgia;
}
.readBy h4{
  display: inline-block;
}
.contributedBy h4{
  display: inline-block;
}
.infoText h4{
  color: gray;
  font-style: normal;
}


.article-caption{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: gray;
  font-style: italic;
}
