
.thumbnail {
  height: 350px;
}

.customCard {
  width: 100%;
  overflow: hidden;
}

.imgContainer {
  max-height: 170px;
  max-width: 100%;
  overflow: hidden;
}


.thumbnail {
  overflow: hidden;
}



.thumbnail-credits {
  display: inline-block;
  float:right;
  font-size: 18px;
  font-style: bold;
}

.thumbnail-readicon {
  display: inline-block;
  float:left;
  font-size: 18px;
}

.can-read {
  border: 2px solid;
  border-radius: 25px;
  border-color: red;
  padding-left: 6px;
  padding-right: 6px;
}

.can-not-read {
  border: 2px solid;
  border-radius: 25px;
  border-color: deepskyblue;
  padding-left: 6px;
  padding-right: 6px;
}

.thumbnail-credits.read {
  border-bottom: 2px solid;
  border-color: red;
}

.thumbnail-credits.contribute {
  border-bottom: 2px solid;
  border-color: deepskyblue;
}


.thumbnail-info {
  position: absolute;
  bottom: 18px;
  background-color: white;
  margin-bottom: 3px;
  width: 80%;
  height: 30px;
}

.thumbnail-info.big {
  position: absolute;
  bottom: 18px;
  background-color: white;
  margin-bottom: 3px;
  width: 90%;
}
