.donepopup {
  font-family: georgia;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 25px;
  opacity: .7;
}

.congrats {
    font-family: georgia;
}

.ok-button {
  color: white;
  background-color: black;
  opacity: .7;
  border-radius: 10px;
}

.end-button-container{
  padding-bottom: 40px;
  margin-top: -10;
}
