
.panel-header {
  max-height: 180px;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}
.panel-header h1{
    font-family: 'Roboto';
}

.seemless-cover{
  width: 200px;
  height: 180px;
}

.panel-header.small {
  max-height: 120px;
}

.seemless-cover.small{
  height: 120px;
}


.header-container {
  position: relative;
  height: 100%;
}


.panel-cover {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.gradient-overlay {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(bottom,rgba(0,0,0,0) ,rgba(0,0,0,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /*Standard*/
}


.gradient-overlay.small {
  height: 120px;
}

.infoi {
  position: absolute;
  top: 0;
  left: 0;
}
.infoi {
  z-index: 10;
}
hr {
  margin: 0;
}
.search-bar {
  border: none;
  width: 100%;
  height: 40px;
  padding-top: 0px;
}


.search-bar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: 20px;
}
.search-bar::-moz-placeholder { /* Firefox 19+ */
  padding-left: 20px;
}
.search-bar:-ms-input-placeholder { /* IE 10+ */
  padding-left: 20px;
}
.search-bar:-moz-placeholder { /* Firefox 18- */
  padding-left: 20px;
}

.info-overlay {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  white-space: normal;
}
.headerDropdown {
    display: inline-block;
}

.howItWorksRead h3{
  display: inline-block;
}
.howItWorksCont h3{
  display: inline-block;
}
.howItWorksRead {
  padding-left: 0px;
}
.panel-header h4 {
  padding-right: 10px;
  display: inline-block;
}

.article-tab {
  display: inline-block;
  width: 50%;
  text-align: center;
  cursor: pointer;
  cursor: hand;
}
.article-tab h6{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.tab-container {
  width: 25%;
}

.article-tab.two.ReactTabs__Tab--selected ~ hr {
  margin-left: 50%;
}

.article-underline {
  height: .25rem;
  width: 50%;
  margin: 0;
  background: -webkit-linear-gradient(-90deg, white, gold, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, white, gold, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, white, gold, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, white, gold, white); /* Standard syntax */  border: none;
  transition: .3s ease-in-out;
}

.buttonContainer {
  float:right;
  padding-top: 15px;
  border-radius: 25px;
  height: 25px;
}

.btn-mine {
	border-radius: 24px;
  box-shadow: 0 3px 0 0 gray;
}

.category-tab-container{
  padding-top: 10px;
}
span.glyphicon-menu-down {
    font-size: 1.5em;
    padding-left: 5px;
}
.filter {
  position: absolute;
  left:0;
  padding-top: 25px;
  padding-right: 33px;
  margin-left: 27%;
  font-family: 'Roboto', sans-serif;
}

.add-article-button {
  position: absolute;
  right:0;
  padding-top: 25px;
  padding-right: 33px;
  font-family: 'Roboto', sans-serif;
}

.container-fluid.offset{
  position: absolute;
}

.our-button {
  background-color: whitesmoke ;
  border-radius: 25px;
  opacity: .7;
  color: black;
  box-shadow: 2px 2px 1px gray;
}
