.navbar-text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding-top: 13px;
    font-size: 20px;
}

.navbar-active {
  border-bottom: 2px solid;
  border-color: deepskyblue;
}

.title-active {
  border-bottom: 2px solid;
  border-color: deepskyblue;
}
