.navbar-text {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding-top: 7px;
    font-size: 20px;
}

.navbar-active {
  border-bottom: 2px solid;
  border-color: deepskyblue;
}

.read-active {
  border-bottom: 3px solid;
  border-color: #FFDF80;
}


.contribute-active {
  border-bottom: 3px solid;
  border-color: #32BEC8;
}

.title-active {
  border-bottom: 2px solid;
  border-color: #32BEC8;
}

/*.link-text {
  margin-bottom: 10px;
  padding-bottom: 3px;
}*/

.navbar-nav li{
  padding-bottom: 3px;
}

.nav > li > a {
    padding-bottom:0;
    margin-bottom:0;
}


.ovalParentOverlay{
    background:none;
    width:30px;
    height:30px;
    overflow:hidden;
    position: absolute;
    float: right;
    display: inline-block;
}

.ovalOverlay {
  display: inline-block;
  width: 45px;
  height: 20px;
  background: gold;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 20px;
  text-align: center;
}

.moneyInOval {
  position: absolute;
  margin: 0 auto;
  opacity: 1;
  color: black;
  z-index: 10;
  padding-left: 10px;
  padding-top: 1px;
}

.credit-container{
  padding-top: 13px;
}
