.donepopup {
  font-family: georgia;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  color: black;
  background-color: white;
  border-color: black;
  border-radius: 30px;
}

.donepopup button{
  font-family: roboto;
}

.congrats {
    font-family: georgia;
}
.ok-button {
  color: black;
  background-color: white;
  border-color: #FFDF80;
  border-radius: 10px;
}

.end-button-container{
  padding-bottom: 40px;
  margin-top: -10;
}

.promote-button{
  height:100px;
}
